@import '../../global.scss';


.portfolio{
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    
    .portfolioContainer{
        width: 95%;
        height: 95%;
        display: flex;
        justify-content: center;
        align-items: center;

        .leftContainer{
            width: 100%;
            height: 100%;
            display: flex;
            flex: 0.5;
            justify-content: center;
            align-items: center;
            position: relative;
            flex-direction: column;

        
            .slide-back{
                position: absolute;
                top: 50%;
                left: 3%;   
                font-size: 28px;
                z-index: 1;                
                cursor: pointer;
                user-select: none;
            }
        

            .slide-forward{
                position: absolute;
                top: 50%;
                left: 92%;
                font-size: 28px;
                z-index: 1;
                cursor: pointer;
                user-select: none;
            }

            
        

        }    

        .rightContainer{
            display: flex;
            flex: 0.5;
            width: 100%;
            height: 100%;
            align-items: center;
            flex-direction: column;

            h1{
             font-size: 50px;
             margin-top: 0;

            }

        }

    }
   
}