@import '../../global.scss';


.portfolio{
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        font-size: 50px;
        margin-top: 20px;

    }
    
    ul{
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;        

        li{
            color: black;
            font-size: 14px;
            margin: 20px;
            padding: 7px;
            border-radius: 10px;
            cursor: pointer;


            &.active{
                background-color: $mainColor;
                color: white;
            }
            
        }
    }

    .slide-back{
        position: absolute;
        top: 60%;
        left: 24%;
        font-size: 32px;
        z-index: 1;
        cursor: pointer;
        user-select: none;
    }

    .slide-forward{
        position: absolute;
        top: 60%;
        right: 24%;
        font-size: 32px;
        z-index: 1;
        cursor: pointer;
        user-select: none;
    }

}